<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.multiapiapp">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiAPIApp"
        android:screenOrientation="portrait">
        <activity
            android:name=".FeedBack"
            android:exported="true" />
        <activity
            android:name=".About_Us"
            android:exported="true" />
        <activity
            android:name=".Quotes_Activity"
            android:exported="true" />
        <activity
            android:name=".Picture_Activity"
            android:exported="true" />
        <activity
            android:name=".Meme_Activity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>